/* Particles.js Background */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Header and Navigation */
header {
    top: 0vh;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 2em;
    font-weight: 700;
    color: #f44336;
    font-family: 'Orbitron', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 10px;
    font-size: 1.1em;
    transition: color 0.3s, background 0.3s;
    border-radius: 5px;
}

.nav-links li a:hover {
    color: #ffffff;
    background-color: #f44336;
}

.menu-toggle {
    display: none;
}