/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #1f1f1f;
    line-height: 1.6;
    overflow-x: hidden;
    text-align: center;
    position: relative;
}

/* Main Content */
main {
    padding-top: 100px; /* Adjust padding to avoid overlap with fixed header */
    position: relative;
    z-index: 1;
    animation: fadeInUp 1s ease-in-out;
}

.large {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #FF2400;
    padding: 40px;
}

/* Image Container */
.image-container {
    display: inline-block;
    margin: 40px;
    vertical-align: top;
    animation: fadeInUp 1s ease-in-out;
}

.image-container img {
    width: 315px;
    height: 265px;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Image Title */
.image-title {
    margin-top: 15px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    color: #ffffff;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 5%;
    background-color: #1e1e1e;
    color: #bbb;
    border-top: 1px solid #333;
    margin-top: 40px;
}

footer p a {
    color: #f44336;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

/* Particles.js Background */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #121212;
        width: 100%;
        border-top: 1px solid #333;
    }

    .navbar ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
