<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organisers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/aboutus.css">
    <link rel="stylesheet" href="../static/css/NavBar.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="path/to/favicon.ico">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>
<body>
    <!-- Header with Navigation -->
    <header>
        <nav class="navbar">
            <div class="logo">3-D Organisers</div>
            <ul class="nav-links">
               <li><a href="{{ url_for('index')}}">Home</a></li>
               <li><a href="{{ url_for('products')}}">Products</a></li>
                <li><a href="{{ url_for('about_us')}}">About Us</a></li>
              <li><a href="{{ url_for('contact')}}">Contact</a></li>
            </ul>
            <div class="menu-toggle" aria-label="Toggle navigation">
                <span>&#9776;</span>
            </div>
        </nav>
    </header>

    <main>
        <section class="intro">
            <h1>About Us</h1>
            <ul style="list-style-type: none; text-align: center;">
            <p>The lives of these people are often cut tragically short. Many are left disabled. 61 million people died in 2023. We can prevent this amount of people dying with 3D Printed Organ Options. Since 2050, we’ve been here, working to save lives.</p>
            </ul>
        </section>

        <section>
            <h2>Our Mission</h2>
            <ul style="list-style-type: none; text-align: center;">
                 <p>Our mission is to advance the development and accessibility of 3D-printed organs, providing new hope for patients in need of life-saving transplants. By leveraging innovative bio-printing techniques, we aim to create functional, transplantable organs that can reduce waiting times and save lives.</p>
            </ul>
        </section>

        <section>
            <h2>What We Do</h2>
            <ul style="list-style-type: none; text-align: center;">
                <p>Educational Campaigns: We organize seminars, webinars, and workshops to educate the public about the benefits and process of 3D printing organs and organ donation.</p>
                <p>Community Outreach: Our team engages with local communities through events, fairs, and information booths to spread the word and answer questions about organ donation.</p>
                <p>Collaborations: We partner with healthcare professionals, non-profits, and educational institutions to amplify our message and reach a wider audience.</p>
                <p>Research and Advocacy: We conduct research to understand public perceptions of what 3D printing is, organ donation and advocate for policies that support donor registration and transplantation efforts.</p>
            </ul>
        </section>

        <section>
            <h2>Our Values</h2>
            <ul style="list-style-type: none; text-align: center;">
                <p>Compassion: We are driven by the desire to help others and save lives through organ donation.</p>
                <p>Collaboration: We value teamwork and partnerships, knowing that we can achieve more together than alone.</p>
                <p>Integrity: We are committed to providing accurate and reliable information about 3D organ donation.</p>
            </ul>
        </section>

        <section class="team" id="our-team">
<div class="container">
<h2>Our Team</h2>
<div class="team-members">
<div class="team-member">
<img src="/website/static/Images/michael.jfif" alt="Michael Brennan">
<div class="team-member-info">
<h3>Michael Brennan</h3>
<p>CEO</p>
<p>Michael drives the company's vision and strategy, uniting teams to achieve sustainable growth and long-term success.</p>
</div>
</div>
<div class="team-member">
<img src="/website/static/Images/donagh.jfif" alt="Donagh McCarthy">
<div class="team-member-info">
<h3>Donagh McCarthy</h3>
<p>CTO</p>
<p>Donagh is a tech guru who oversees all technical aspects of the company+ co founder and ceo of brennans bread.</p>
</div>
</div>
<div class="team-member">
<img src="/website/static/Images/tom.jfif" alt="Tom Bourke">
<div class="team-member-info">
<h3>Tom Bourke</h3>
<p>COO</p>
<p>Tom seamlessly turns strategy into action, driving operational excellence and fostering a culture of efficiency and innovation.</p>
</div>
</div>
<div class="team-member">
<img src="/website/static/Images/brendan.jfif" alt="Brennan Murphy">
<div class="team-member-info">
<h3>Brendan Murphy</h3>
<p>Executive Grounds Keeper</p>
<p>Brendan meticulously maintains and enhances outdoor spaces, ensuring they are safe, clean, and visually appealing year-round.</p>
</div>
</div>
<div class="team-member">
<img src="/website/static/Images/katie.jfif" alt="Katie Rowan">
<div class="team-member-info">
<h3>Katie Rowan</h3>
<p>CMO</p>
<p>Katie seamlessly blends creativity with strategy to drive brand success and market growth.</p>
</div>
</div>
<div class="team-member">
<img src="/website/static/Images/naoise.jfif" alt="Naoise Hourican">
<div class="team-member-info">
<h3>Naoise Hourican</h3>
<p>CFO</p>
<p>Naoise strategically manages finances, driving sustainable growth while ensuring fiscal health and accountability across the organization.</p>
</div>
</div>
<div class="team-member">
<img src="/website/static/Images/maeve.jfif" alt="Maeve Costello">
<div class="team-member-info">
<h3>Maeve Costello</h3>
<p>CSR</p>
<p>Maeve delivers exceptional support with empathy and efficiency, ensuring customer satisfaction and loyalty.</p>
</div>
</div>
<div class="team-member">
<img src="/website/static/Images/rachel.jfif" alt="Rachel Reid">
<div class="team-member-info">
<h3>Rachel Reid</h3>
<p>HR Generalist</p>
<p>Rachel expertly manages employee relations, benefits, and compliance, fostering a positive and productive workplace.</p>
</div>
</div>
<div class="team-member">
<img src="/website/static/Images/dealan.jfif" alt="Dealan O Cluaid">
<div class="team-member-info">
<h3>Dealan O Cluaid</h3>
<p>President</p>
<p>Dealan leads with vision and integrity, steering the organization towards success while inspiring and empowering the entire team.</p>
</div>
</div>
<!-- Add more team members as needed -->
</div>
</div>
</section>
    </main>

<div id="particles-js"></div> <!-- Particle Effect Background -->
<script>
    particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 120,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#FFFFFF"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#FFFFFF"
                    },
                    "polygon": {
                        "nb_sides": 5
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                },
                "size": {
                    "value": 3,
                    "random": true,
                },
                "line_linked": {
                    "enable": true,
                    "distance": 250,
                    "color": "#FFFFFF",
                    "opacity": 1,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 3,
                    "direction": "none",
                }
            },
        });
</script>
<head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
</head>
<footer>
    <p>&copy; 2024 3D Organisers. All rights reserved.</p>
    <p>Follow us on
        <a href="https://twitter.com/yourprofile" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://facebook.com/yourprofile" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/3dorganizers/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="{{ url_for('termsandconditions')}}" target="_blank"><i class="fas fa-file-contract"></i></a>
    </p>
</footer>
<style>
    footer {
        text-align: center;
        padding: 10px;
        background-color: #333;
        color: white;
    }

    footer p {
        margin: 5px 0;
    }

    footer a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
        font-size: 1.5em;
    }

    footer a:hover {
        color: #f44336; /* Change icon color on hover */
    }
</style>

</body>
</html>