<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <TITLE>Payment Form</TITLE>
    <link rel="stylesheet" href="../static/css/purchase.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Confirm Your Payment</h1>
    <div class="first-row">
        <div class="owner">
            <h3>Owner</h3>
            <div class="input-field">
                <input type="text" placeholder="Card Owner Name">
            </div>
        </div>
        <div class="cvv">
            <h3>CVV</h3>
            <div class="input-field">
                <input type="password" placeholder="123">
            </div>
        </div>
    </div>
     <div class="second-row">
        <div class="card-number">
            <h3>Card Number</h3>
            <div class="input-field">
                <input type="text" placeholder="1234 5678 9012 3456">
            </div>
        </div>
    </div>
    <div class="third-row">
        <h3>Expiration Date</h3>
        <div class="selection">
            <div class="date">
                <select name="months" id="months">
                    <option value="Jan">Jan</option>
                    <option value="Feb">Feb</option>
                    <option value="Mar">Mar</option>
                    <option value="Apr">Apr</option>
                    <option value="May">May</option>
                    <option value="Jun">Jun</option>
                    <option value="Jul">Jul</option>
                    <option value="Aug">Aug</option>
                    <option value="Sep">Sep</option>
                    <option value="Oct">Oct</option>
                    <option value="Nov">Nov</option>
                    <option value="Dec">Dec</option>
                </select>
                <select name="years" id="years">
                    <option value="2030">2030</option>
                     <option value="2029">2029</option>
                     <option value="2028">2028</option>
                     <option value="2027">2027</option>
                     <option value="2026">2026</option>
                     <option value="2025">2025</option>
                     <option value="2024">2024</option>
                </select>
            </div>
            <div class="cards">
                <img src="/Website/Images/mastercard.png" alt="mastercard">
                <img src="/Website/Images/visa.png" alt="visa">
                <img src="/Website/Images/paypal.png" alt="paypal">
            </div>
        </div>
    </div>
     <a href="{{ url_for('thankyouPurchases')}}" class="confirm-btn">Confirm</a>
</div>
</body>
<div id="particles-js"></div>
<head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
</head>


</html>
<script>
    particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 100,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#FFFFFF"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#FFFFFF"
                    },
                    "polygon": {
                        "nb_sides": 5
                    }
                },
                "opacity": {
                    "value": 1,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 10,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 200,
                    "color": "#FFFFFF",
                    "opacity": 1,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 3,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": false,
                        "mode": "repulse"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });
</script>
