<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Register & Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/signin.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/NavBar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body>
<div id="particles-js"></div>

    <!-- Header with Navigation -->
    <header>
        <nav class="navbar">
            <div class="logo">3-D Organisers</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('index')}}">Home</a></li>
                <li><a href="{{ url_for('products')}}">Products</a></li>
                <li><a href="{{ url_for('about_us')}}">About Us</a></li>
                <li><a href="{{ url_for('contact')}}">Contact</a></li>
            </ul>
            <div class="menu-toggle" aria-label="Toggle navigation">
                <span>&#9776;</span>
            </div>
        </nav>
    </header>


    <div class="container" id="signIn">
        <h1 class="form-title">Sign In</h1>
        <form method="post" action="">
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" name="username" id="username" placeholder="Username" required>
                <label for="username">Username</label>
            </div>

            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <label for="email">Email</label>
            </div>

            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <label for="password">Password</label>
            </div>

            <input type="submit" class="btn" value="Sign In" name="signIn">
        </form>

        <p class="or">----------or----------</p>

        <div class="icons">
                        <a href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=158&ct=1724058038&rver=7.0.6738.0&wp=MBI_SSL&wreply=https%3a%2f%2foutlook.live.com%2fowa%2f%3fnlp%3d1%26cobrandid%3dab0455a0-8d03-46b9-b18b-df2f57b9e44c%26culture%3den-us%26country%3dus%26RpsCsrfState%3d0abefc95-4596-685a-14fd-3978b3051b03&id=292841&aadredir=1&CBCXT=out&lw=1&fl=dob%2cflname%2cwld&cobrandid=ab0455a0-8d03-46b9-b18b-df2f57b9e44c" target="_blank">
         <i class="fab fa-microsoft"></i>
            </a>
        </div>

        <div class="links">
            <p>Don't have an account yet?</p>
           <a href="{{url_for('Register')}}" id="signupButton">Sign Up</a>
        </div>
    </div>

    <script src="script.js"></script>

</body>
<footer>
    <p>&copy; 2024 3D Organisers. All rights reserved.</p>
    <p>Follow us on <a href="#">Twitter</a>, <a href="#">Facebook</a>, and <a href="https://www.instagram.com/3dorganizers/">Instagram</a>,<a href="../templates/termsandcomnditions.html">Terms and Conditions</a></p>
</footer>
</html>
<script>
    particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 100,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#FFFFFF"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#FFFFFF"
                    },
                    "polygon": {
                        "nb_sides": 5
                    }
                },
                "opacity": {
                    "value": 1,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 10,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 200,
                    "color": "#FFFFFF",
                    "opacity": 1,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 3,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": false,
                        "mode": "repulse"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });
</script>